@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* Reset CSS */
h1,h2,h3,h4,h5,h6,p,ul,li {margin: 0; padding: 0;}
input,button {outline: 0;}
a {text-decoration: none;}
ul {list-style: none;}

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    overflow-wrap: break-word;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.wrap {
    scroll-snap-type: y mandatory;
    transition: 0.5s;
}
.section {
    width: 100%;
    height: 100%;
}

/* Header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    transition: .2s;
}
header.on {
    background-color: #fff;
}
header.on::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 66px;
    background-color: #eee;
}
.inner {
    max-width: 1200px;
    width: 100%;
    display: flex;
}
header .inner {
    justify-content: space-between;
    position: absolute;
}
.header_primary {
    display: flex;
    align-items: center;
}
.logo {
    padding: 20px 0;
}
.logo > a {
    display: block;
    width: 120px;
    height: 30px;
    background-image: url(images/logo_fff.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo > a.on {
    background-image: url(images/logo.svg);
}
nav {
    margin-left: 50px;
}
.main_gnb {
    display: flex;
    text-align: center;
}
.main_gnb > li > a {
    color: #fff;
    font-weight: 500;
    display: block;
    width: 110px;
    padding: 24px 0;
    position: relative;
}
.main_gnb > li > a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #004f8c;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all ease .3s;
}
.main_gnb > li > a.on {
    color: #333;
}
.sub_gnb {
    position: absolute;
    display: none;
    height: 240px;
}
.sub_gnb.on {
    display: block;
}
.sub_gnb ul {
    width: 110px;
    padding: 8px 0 0 0;
    box-sizing: border-box;
}
.sub_gnb ul li {}
.sub_gnb ul li a {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: 400;
    padding: 12px 0;
    transition: all ease .3s;
}
.header_util {
    display: flex;
    align-items: center;
}
.contact_btn,
.lang_btn {
    border: 1px solid #ccc;
    background-color: #e0e0e072;
    border-radius: 20px;
    transition: 0.3s;
    padding: 8px 12px;
}
.contact_btn {
    background-image: url(images/fi_mail.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16.5px;
    width: 16.5px;
    height: 16.5px;
}
.contact_btn.on {
    background-color: #fff;
    background-image: url(images/fi_mail_on.svg);
}
.lang_btn {
    margin-left: 8px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.lang_btn.on {
    background-color: #fff;
    color: #222;
}


/* Gnb_bg */
.gnb_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: all ease .3s;
}
.gnb_bg.on {
    opacity: 1;
    z-index: 99;
}


/* Sec_main */
.sec_main {
    position: relative;
}
.bg_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
}
.bg_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    animation: mainText 0.6s linear;
}
.bg_txt h1 {
    font-size: 72px;
    font-weight: 700;
}
.bg_txt p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
    text-align: right;
    position: relative;
}
.bg_txt p::before {
    content: '';
    position: absolute;
    width: calc(100% - 388px);
    height: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.scroll_down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 28px;
    height: 28px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg) translateX(-50%);
    animation: scrollDown ease 1s infinite;
}

/* Sec01 */
.sec01 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    padding: 120px 0;
}
.sec01 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec01 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #000);
}
.sec01 .inner {
    z-index: 1;
    flex-direction: column;
}
.sec01 .heading_box {}
.tit {
    font-size: 20px;
    font-weight: 600;
    color: #ffffffc0;
    margin-bottom: 12px;
}
.sec_tit {
    font-size: 44px;
    margin-top: 12px;
    color: #fff;
}
.item_box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.item {
    cursor: pointer;
    flex: 1;
    box-sizing: border-box;
    color: #333;
    position: relative;
    margin-right: 20px;
    border-radius: 18px;
    transition: all 0.3s ease-out;
}
.item.on {
    flex: 3;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}
.item_overlay.on {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}
.item_txt {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 24px;
    padding: 40px;
}
.item_txt p {
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
    display: none;
}
.item_txt p.on {
    display: block;
}


/* Sec02 */
.sec02 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    padding: 120px 0;
}
.sec02 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec02 .inner {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.cont_left {
    position: sticky;
    top: 0;
    padding-top: 120px;
}
.cont_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cont_box {
    width: 220px;
    height: 280px;
    background-color: #fff;
    color: #004f8c;
    padding: 40px;
    border-radius: 25px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont_box:nth-child(even) {
    align-self: flex-start;
}
.txt_box h5 {
    font-size: 24px;
    margin-bottom: 20px;
}
.txt_box p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}
.img_box img {
    width: 80px;
    height: 80px;
}


/* Sec03 */
.sec03 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 120px 0;
}
.sec03 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec03 .inner {
    z-index: 1;
    flex-direction: column;
}
.text_box {}
.sec_txt {
    margin-top: 32px;
    color: #eee;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.icon_box {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
    height: 240px;
}
.icon {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.184);
}
.icon:nth-child(1) {
    transform: translateX(-80%);
}
.icon:nth-child(3) {
    transform: translateX(80%);
}
.context {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.context img {
    width: 72px;
    height: 72px;
}
.icon_txt {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 600;
}


/* Sec04 */
.sec04 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 120px 0;
}
.sec04 .inner {
    display: flex;
    flex-direction: column;
}
.sec04 .heading_box {
    display: flex;
    justify-content: space-between;
}
.left_box {
    text-align: left;
}
.sec04 .tit {
    color: #004f8c;
}
.sec04 .sec_tit {
    color: #333;
}
.card_box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.card {
    z-index: 0;
}
.card a {
    display: block;
    width: 100%;
    height: 100%;
}
.card_img {
    overflow: hidden;
    border-radius: 16px;
}
.card img {
    width: 340px;
    height: 220px;
    transition: 0.4s;
}
.card_txt {
    width: 340px;
    margin-top: 20px;
}
.card_txt h3 {
    padding-bottom: 12px;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
}
.card_txt p {
    color: #666;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bottom_box {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.bottom_box a {
    border-radius: 25px;
    border: 1px solid #212529;
    padding: 14px 60px 14px 36px;
    color: #333;
    font-weight: 600;
    background-color: transparent;
    background-image: url(images/u_angle-double-right.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 11px right 32px;
    position: relative;
    transition: 0.3s;
}

/* Footer */
footer {
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-image: url(images/abstract-5979901_1920.jpg);
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
footer .inner {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_top {
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.left_box .logo img {
    width: 120px;
    height: 30px;
}
.btn_list a {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 30px 8px 12px;
    border-radius: 20px;
    transition: 0.3s;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: top 8px right 12px;
    position: relative;
}
.e_business {
    color: #fff;
    border: 2px solid #ccc;
    background-image: url(images/fi_plus_on.svg);
}
.family_site {
    color: #fff;
    border: 2px solid #ccc;
    background-image: url(images/fi_plus_on.svg);
}
.btn_list a:last-child {
    margin-left: 8px;
}
.footer_bot {
    padding-top: 24px;
    font-size: 14px;
}
.policy_box {
    padding-bottom: 24px;
}
.policy_box a {
    position: relative;
    color: #fff;
    font-weight: 700;
}
.policy_box span {
    padding: 8px;
    color: #868e96;
}
.info_box {
    display: flex;
    line-height: 1.6;
    padding-bottom: 24px;
    color: #868e96;
}
.info_box em {
    padding-right: 8px;
    font-style: normal;
}
.info_box span {
    margin-right: 24px;
    font-weight: 600;
}
.copy_box {
    color: #868e96;
}


@keyframes textMotion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mainText {
    0% {
        top: 55%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes scrollDown {
    0% {
        bottom: 60px;
        opacity: 0;
    }
    50% {
        bottom: 50px;
        opacity: 1;
    }
    100% {
        bottom: 40px;
        opacity: 0;
    }
}

@media (max-width: 1024px) {    
    /* header */
    header {
        margin: 0 16px;
        width: calc(100% - 32px);
    }
    nav {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 360px;
        height: 100%;
        margin: 0;
        padding-top: 60px;
        z-index: 100;
        transition: 0.4s;
    }
    nav.active {
        right: 0;
    }
    .main_gnb {
        flex-wrap: wrap;
    }
    .main_gnb > li {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        margin: 0 40px 0 20px;
        padding: 0 8px;
    }
    .main_gnb > li > a {
        color: #333;
        padding: 0 0 0 4px;
        width: 100%;
        height: 52px;
        line-height: 52px;
        text-align: left;
        background-image: url(images/fi_chevron-down.svg);
        background-position: right 8px center;
        background-repeat: no-repeat;
        background-size: 18px;
    }
    .main_gnb > li:hover > a::before {
        display: none;
    }
    .main_gnb > li > a.active {
        color: #004f8c;
        font-weight: 700;
        background-image: url(images/fi_chevron-up.svg);
    }
    .sub_gnb {
        position: static;
        height: 100%;
        display: none;
    }
    .sub_gnb.active {
        display: block;
    }
    .sub_gnb ul {
        width: 100%;
        text-align: left;
        padding: 0 0 0 12px;
    }
    .header_util {
        position: absolute;
        top: 17.5px;
        right: 48px;
    }
    .menu_btn {
        width: 28px;
        height: 28px;
        display: flex;
        padding: 21px 0;
        display: block;
        cursor: pointer;
        background-image: url(images/fi_menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 28px;
        z-index: 999;
    }
    .menu_btn.active {
        background-image: url(images/fi_x_bk.svg);
    }

    /* sec_main */
    .sec_main {
        height: 100vh;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
    .bg_video {
        object-fit: cover;
    }
    .bg_txt {
        width: 100%;
        text-align: center;
    }
    .bg_txt h1 {
        font-size: 8vw;
    }
    .bg_txt p {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
    .bg_txt p::before {
        display: none;
    }

    /* sec01 */
    .sec01 {
        height: 100vh;
    }
    .sec01 video {
        object-fit: cover;
    }
    .heading_box {
        margin: 0 16px;
    }
    .sec_tit {
        font-size: 32px;
    }
    .item_box {
        margin-left: 16px;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .item {
        width: 100%;
        height: 100%;
    }
    .item_overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    }
    .item img {
        width: 360px;
        height: 360px;
    }
    .item_txt {
        padding: 32px;
    }
    .item_txt p {
        font-weight: 500;
        display: block;
    }

    /* sec02 */
    .sec02 {
        width: 100%;
    }
    .sec02 .inner {
        margin: 0 16px;
        flex-direction: column;
    }
    .cont_left {
        position: static;
    }
    .cont_right {
        width: 100%;
    }

    /* sec03 */
    .sec03 {
        height: 100vh;
    }
    .sec03 .inner {
        margin: 0 16px;
    }
    .sec03 .sec_txt {
        font-size: 16px;
        font-weight: 500;
    }

    /* sec04 */
    .sec04 {
        width: 100%;
    }
    .card_box {
        margin-left: 16px;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .card {
        margin-right: 24px;
    }
    .card_txt {
        white-space: wrap;
    }
    .card_txt p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bottom_box a {
        background-color: #212529;
        color: #fff;
        background-image: url(images/u_angle-double-right_on.svg);
    }

    /* footer */
    footer .inner {
        margin: 0 16px;
        width: calc(100% - 32px);
    }
    .footer_img {
        font-size: 5vw;
    }
    .right_box {
        display: none;
    }
    .info_box {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .sec_tit {
        font-size: 28px;
    }
    .item img {
        width: 300px;
        height: 300px;
    }
    .item_txt p {
        font-size: 16px;
    }
    .cont_box {
        width: 200px;
        height: 260px;
        padding: 36px;
    }
    .img_box img {
        width: 72px;
        height: 72px;
    }
    .txt_box p {
        font-size: 16px;
        font-weight: 500;
    }
    .icon {
        width: 160px;
        height: 160px;
    }
    .context img {
        width: 52px;
        height: 52px;
    }
    .icon_txt {
        font-size: 18px;
    }
    .card img {
        width: 300px;
        height: 194px;
    }
    .card_txt {
        width: 300px;
    }
    .card_txt h3 {
        font-size: 18px;
    }
    
}

@media (hover: hover) and (pointer: fine) {
    .main_gnb > li:hover > a::before {
        width: 100%;
    }
    .sub_gnb ul li a:hover {
        font-weight: 600;
        color: #333;
    }
    .contact_btn:hover,
    .lang_btn:hover {
        background-color: #004f8c;
        border: 1px solid #004f8c;
    }
    .card:hover img {
        transform: scale(1.1);
    }
    .card:hover .card_txt h3 {
        color: #004f8c;
    }
    .bottom_box a:hover {
        background-color: #212529;
        color: #fff;
        background-image: url(images/u_angle-double-right_on.svg);
    }
    .e_business:hover {
        border: 2px solid #fff;
        background-color: #fff;
        background-image: url(images/fi_plus.svg);
        color: #333;
    }
    .family_site:hover {
        border: 2px solid #004f8c;
        background-color: #004f8c;
        background-image: url(images/fi_plus_on.svg);
    }
  }